body {
    margin: 0;
}
nav {
    text-align: center;
    background: linear-gradient(35deg, teal 50%, black);
    font-size: 2rem;
    color: white;
}

#row {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

aside {
    display: flex;
    flex-direction: column;
    width: 25%;
}

main {
    width: 70%;
}

#current {
    border: 2px solid #000;
}